.registerTitle {
    text-align: center;
    color: #333;
    margin-top: 20px;
}
.registerForm {
    background-color: #f4f4f4;
    padding: 20px;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.registerForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registerForm button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}